
body{
    position: relative;
    padding: 0%;
    margin: 0%;
    background: #B4DDFD url("bg2.png");
    background-position: 0, 0;
    background-repeat: repeat-x;
    animation: animate 40s linear infinite;
}

@keyframes animate{
    from{
        background-position: 0, 0;
    }
    to{
        background-position: 100%, 0;
    }
}

header{
    background-color: #5E95BC;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
    margin-bottom: 10%;
}


header > p{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 48px;
    padding: 5px;
    color: white;
    font-weight: bold;
    position: relative;
    margin: 0px;
}

#konyv{
    position: relative;
    left: 25%;
    top: 50%;
    padding: 20px;
    margin: 0px;
    width: 50%;
    background-color: white;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
    color: black;

}

#gombok{
  position: relative;
  left: 25%;
  top: inherit;
  padding: 20px;
  margin: 0px;
  width: 50%;
  background-color: white;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
}

#b-gomb{
  position: relative;
  align: left;
  text-align: center;
  width: auto;
  color: white;
  background-color: blue;
  border-color: blue;
  border-radius: 10%;
}

#j-gomb{
  position: relative;
  align: right;
  text-align: center;
  width: auto;
  color: white;
  background-color: blue;
  border-color: blue;
  border-radius: 10%;
}

#box
{
    position: relative;
}
