
body{
    position: relative;
    padding: 0%;
    margin: 0%;
    background: #B4DDFD url("bg2.png");
    background-position: 0, 0;
    background-repeat: repeat-x;
    animation: animate 10s linear infinite;
}   

@keyframes animate{
    from{
        background-position: 0, 0;
    }
    to{
        background-position: 100%, 0;
    }
}

header{
    background-color: #5E95BC;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
    margin-bottom: 10%;
}


header > p{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 48px;
    padding: 5px;
    color: white;
    font-weight: bold;
    position: relative;
    margin: 0px;
}

#konyv{
    position: absolute;
    left: 25%;
    top: 50%;
    padding: 20px;
    margin: 0px;
    width: 50%;
    background-color: white;
    border-radius: 15px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
}


#box
{
    position: relative; 
}
